iframe {
  border: 1px solid #333;
}

section {
  margin-bottom: 48px;
}

.showgrid .row {
  margin-bottom: 20px;
}
.showgrid [class*="span"] {
  background: #ddd;
  text-align: center;
}
.showgrid .span11,
.showgrid .span12 {
  background: #eebcbe;
}
.showgrid .fade {
  background: #eee;
  color: #999;
}

.decontain {
  margin-left: -48px;
}
.showlayout .container,
.showlayout .row,
.showlayout [class*="span"] {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}
.showlayout,
.showlayout code {
  color: #fff;
}

.todo {
  background: #eebcbe;
  padding: 2px;
  font-style: normal;
}

.backdrop {
  background: #e8fcf2;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* We have to redefine these here to change the url path, which seems dumb. */
  .view-style a.list {
    background: url(../img/list_sprite.png) no-repeat scroll left top;
  }
  .view-style a.thumbs {
    background: url(../img/thumb_sprite.png) no-repeat scroll left top;
  }

.pt {
  padding-top: 1em;
}
