<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta charset="utf-8">
    <title>Webpage Maker</title>
    <link rel="stylesheet" href="/media/css/bootstrap.min.css">
    <style>
    body {
      /* 60px to make the container go all the way to the bottom
       * of the topbar */
      padding-top: 60px;
    }
    </style>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar"></a>
          <a class="brand" href="/">Webpage Maker</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/editor">Editor</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li class="active"><a href="/about">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="hero-unit">
        <h1>About</h1>
        <p>Here you can learn more about what this project is about. Eventually.</p>
      </div>
    </div> <!-- /container -->
  </body>
</html>
