{% extends "website/layout.html" %}
{% block head %}
{% endblock %}
{% block page_id %}about{% endblock %}
{% block body %}
  <div class="container divider">
    <div class="row">
      <div class="hero-unit span7">
        <h1 class="large">About</h1>
        <p>
          Mozilla Thimble App makes it ridiculously simple to make stuff on the web. Thimble lets you make your own real, fully functional web pages in minutes. Then host and share them with a single click. Sharpen your web skills along the way. Easy, huh? <a href="/editor">Try it out now.</a>
        </p>
      </div>
    </div>
  </div>

  <div class="container divider">
    <div class="row">
      <div class="span7">
        <h2>
          Write and edit HTML and CSS right in your browser.
        </h2>
        <p>
  Thimble makes it easy to work with HTML and CSS, the building blocks of the web, even if you've never done it before. Just type on the left, then see what the finished page will look like on the right. Thimble also helps check your work as you go, providing a simple "spell check" for code to help you spot and squash errors instantly.
        </p>
      </div>
    </div>
  </div>

  <div class="container divider">
    <div class="row">
      <div class="span7">
        <h2>
          Share fully functional web pages with one click.
        </h2>
        <p>
       Thimble isn't just a learning tool or toy. It lets you create your own real, fully functional web pages&mdash;for your band, your pet rock, your business, or whatever&mdash;and then share them with a click. There's also plenty of starter projects and templates to help you make something amazing quickly. 
        </p>
      </div>
    </div>
  </div>

  <div class="container divider">
    <div class="row">
      <div class="span7">
        <h2>
        Webmaking made easy.
        </h2>
        <p>
        Mozilla is a non-profit that believes everyone should be able to make and share with the open web. But creating, hosting or tweaking your own stuff is often still too difficult&mdash;with obstacles like learning HTML and CSS, struggling with servers to preview your work, or figuring out where your content will live online. Thimble clears away those barriers, making it easier to create your own projects quickly and learn web skills in a way that's easy, visual and fun. 
        </p>
      </div>
    </div>
  </div>

  <div class="container divider-last">
    <div class="row">
      <div class="span7">
        <h2>
        Get involved
        </h2>
        <ul>
          <li>
            Don't just sit there&mdash;make something! <a href="/editor">Try it out now</a>.
          </li>
          <li>
            Learn more. Check out our handy Thimble starter projects, see what others are making, or check out our F.A.Q.
          </li>
          <li>
            Stay in touch through our mailing list or Twitter
          </li>
          <li>
            Join our open community calls to share ideas or get more involved.
          </li>
          <li>
            File a bug or check out our source code to make Thimble better.
          </li>
          <li>
            Check out our content guidelines.
          </li>
        </ul>
      </div>
    </div>
  </div> 
{% endblock %}
