{% extends "website/layout.html" %}
{% block head %}
{% endblock %}
{% block page_id %}guidelines{% endblock %}
{% block body %}
  <div class="container">
    <h1>Content Guidelines</h1>

    <p>
      From time to time, we have to remove inappropriate content from Thimble. This document describes some of the various types of content that is inappropriate for Thimble. This list is illustrative, not definitive, and we may update it.
    </p>

    <ol>
      <li>
        No obscene content or graphic depictions of sexuality or violence.
      </li>
      <li>
        No content that infringes anyone’s rights, including intellectual property or other proprietary rights or rights of privacy or publicity.
      </li>
      <li>
        No content that is designed to harm Mozilla or users (such as malicious code, viruses, spyware or malware).
      </li>
      <li>
        No content that is illegal or promotes illegal activities.
      </li>
      <li>
        No content that is deceptive, misleading, fraudulent or is designed to phish or perform other identity theft.
      </li>
      <li>
        No content that glamorizes or encourages alcohol, drug or tobacco use.
      </li>
      <li>
        No content that promotes gambling.
      </li>
      <li>
        No content that engages in the advertisement of illegal or controlled products or services.
      </li>
      <li>
        No content that is deceptive or fraudulent.
      </li>
      <li>
        No content that exploits children.
      </li>
      <li>
        No content that degrades, intimidates, incites violence against, or encourages prejudicial action against someone or a group based on age, gender, race, ethnicity, national origin, religion, sexual orientation, disability, region, geographic location or other protected category or constitutes hate speech.
      </li>
    </ol>
  </div>
{% endblock %}
