{% extends "website/layout.html" %}
{% block head %}
{% endblock %}
{% block body %}
  <div class="container divider">
    <div class="row">
      <div class="hero-unit span6">
        <hgroup>
          <h2>Look, share and remix</h2>
          <h1>Gallery</h1>
        </hgroup>
        <p>Fair trade aged as qui wings grounds seasonal. Dark saucer milk, dripper mug cinnamon, variety sugar turkish body white. Wings qui redeye, variety roast chicory as trifecta foam café au lait. Qui, beans, cultivar americano decaffeinated that americano single origin.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <ul class="thumbnails">
	{{ thumb(
		 href    = "#",
		 img     = "http://placehold.it/252x175",
		 img_alt = "",
		 author  = "Barack Obama",
		 title   = "Internet Famous"
	   )	
	}}
	{{ thumb(
		 href    = "#",
		 img     = "http://placehold.it/252x175",
		 img_alt = "",
		 author  = "Michelle Levesque",
		 title   = "Bronies"
	   )	
	}}
	{{ thumb(
		 href    = "#",
		 img     = "http://placehold.it/252x175",
		 img_alt = "",
		 author  = "Chloe Varelidi",
		 title   = "Minecraft Thingy"
	   )	
	}}
	
	{{ thumb(
		 href    = "#",
		 img     = "http://placehold.it/252x175",
		 img_alt = "",
		 author  = "Barack Obama",
		 title   = "Internet Famous"
	   )	
	}}
	{{ thumb(
		 href    = "#",
		 img     = "http://placehold.it/252x175",
		 img_alt = "",
		 author  = "Michelle Levesque",
		 title   = "Bronies"
	   )	
	}}
	{{ thumb(
		 href    = "#",
		 img     = "http://placehold.it/252x175",
		 img_alt = "",
		 author  = "Chloe Varelidi",
		 title   = "Minecraft Thingy"
	   )	
	}}
      
    </ul>
  </div>
{% endblock %}
{% macro thumb(href, img, img_alt, author, title) -%}
<li class="span3 threeColumn">
  <div class="thumbnail">
    <a href="{{ href }}">
      <img src="{{ img }}" alt="">
    </a>
    <div class="caption">
      <h5>{{ title }}</h5>
      <p>By {{ author }}</p>
      <a href="#" class="button button-orange">Remix</a>
    </div>
  </div>
</li>
{%- endmacro %}
