{% extends "website/layout.html" %}
{% block head %}
{% endblock %}
{% block page_id %}gallery{% endblock %}
{% block body %}
  <div class="container divider">
    <div class="row gallerycat">
      <div class="hero-unit span6">
        <hgroup class="large">
          <h2>Look and share</h2>
          <h1>Gallery</h1>
        </hgroup>
        <p>
          What are other people making with Webpage Maker? Here's a gallery of awesome examples for inspiration. 
        </p>
        <p>
          You can remix any of these pages to make them your own.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <ul class="thumbnails">
	{{ thumb(
		 href    = "#",
		 img     = "http://placehold.it/252x175",
		 img_alt = "",
		 author  = "Barack Obama",
		 title   = "Internet Famous"
	   )	
	}}
	{{ thumb(
		 href    = "#",
		 img     = "http://placehold.it/252x175",
		 img_alt = "",
		 author  = "Michelle Levesque",
		 title   = "Bronies"
	   )	
	}}
	{{ thumb(
		 href    = "#",
		 img     = "http://placehold.it/252x175",
		 img_alt = "",
		 author  = "Chloe Varelidi",
		 title   = "Minecraft Thingy"
	   )	
	}}
	
	{{ thumb(
		 href    = "#",
		 img     = "http://placehold.it/252x175",
		 img_alt = "",
		 author  = "Barack Obama",
		 title   = "Internet Famous"
	   )	
	}}
	{{ thumb(
		 href    = "#",
		 img     = "http://placehold.it/252x175",
		 img_alt = "",
		 author  = "Michelle Levesque",
		 title   = "Bronies"
	   )	
	}}
	{{ thumb(
		 href    = "#",
		 img     = "http://placehold.it/252x175",
		 img_alt = "",
		 author  = "Chloe Varelidi",
		 title   = "Minecraft Thingy"
	   )	
	}}
      
    </ul>
  </div>
{% endblock %}
{% macro thumb(href, img, img_alt, author, title) -%}
<li class="span3 threeColumn">
  <div class="thumbnail">
    <a href="{{ href }}">
      <img src="{{ img }}" alt="">
    </a>
    <div class="caption">
      <h5 class="title">{{ title }}</h5>
      <p>By {{ author }}</p>
    </div>
    <a href="#" class="button button-orange">Remix</a>
  </div>
</li>
{%- endmacro %}
