{% extends "website/layout.html" %}
{% block head %}
{% endblock %}
{% block body %}
  <div class="container divider">
    <div class="row">
      <div class="hero-unit span6">
        <hgroup>
          <h2>Look, share and remix</h2>
          <h1>Gallery</h1>
        </hgroup>
        <p>Fair trade aged as qui wings grounds seasonal. Dark saucer milk, dripper mug cinnamon, variety sugar turkish body white. Wings qui redeye, variety roast chicory as trifecta foam café au lait. Qui, beans, cultivar americano decaffeinated that americano single origin.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <ul class="thumbnails">
      <li class="span3 threeColumn">
        <div class="thumbnail">
          <a href="#">
            <img src="http://placehold.it/252x175" alt="">
          </a>
          <div class="caption">
            <h5>Internet Famous</h5>
            <p>By Barack Obama</p>
            <a href="#" class="button button-orange">Remix</a>
          </div>
        </div>
      </li>
      
      <li class="span3 threeColumn">
        <div class="thumbnail">
          <a href="#">
            <img src="http://placehold.it/252x175" alt="">
          </a>
          <div class="caption">
            <h5>Bronies</h5>
            <p>By Michelle Levesque</p>
            <a href="#" class="button button-orange">Remix</a>
          </div>
        </div>
      </li>

      <li class="span3 threeColumn">
        <div class="thumbnail">
          <a href="#">
            <img src="http://placehold.it/252x175" alt="">
          </a>
          <div class="caption">
            <h5>Minecraft Thingy</h5>
            <p>By Chloe Varelidi</p>
            <a href="#" class="button button-orange">Remix</a>
          </div>
        </div>
      </li>
      
      <li class="span3 threeColumn">
        <div class="thumbnail">
          <a href="#">
            <img src="http://placehold.it/252x175" alt="">
          </a>
          <div class="caption">
            <h5>Internet Famous</h5>
            <p>By Barack Obama</p>
            <a href="#" class="button button-orange">Remix</a>
          </div>
        </div>
      </li>
      
      <li class="span3 threeColumn">
        <div class="thumbnail">
          <a href="#">
            <img src="http://placehold.it/252x175" alt="">
          </a>
          <div class="caption">
            <h5>Bronies</h5>
            <p>By Michelle Levesque</p>
            <a href="#" class="button button-orange">Remix</a>
          </div>
        </div>
      </li>

      <li class="span3 threeColumn">
        <div class="thumbnail">
          <a href="#">
            <img src="http://placehold.it/252x175" alt="">
          </a>
          <div class="caption">
            <h5>Minecraft Thingy</h5>
            <p>By Chloe Varelidi</p>
            <a href="#" class="button button-orange">Remix</a>
          </div>
        </div>
      </li>
      
      <li class="span3 threeColumn">
        <div class="thumbnail">
          <a href="#">
            <img src="http://placehold.it/252x175" alt="">
          </a>
          <div class="caption">
            <h5>Internet Famous</h5>
            <p>By Barack Obama</p>
            <a href="#" class="button button-orange">Remix</a>
          </div>
        </div>
      </li>
      
      <li class="span3 threeColumn">
        <div class="thumbnail">
          <a href="#">
            <img src="http://placehold.it/252x175" alt="">
          </a>
          <div class="caption">
            <h5>Bronies</h5>
            <p>By Michelle Levesque</p>
            <a href="#" class="button button-orange">Remix</a>
          </div>
        </div>
      </li>

      <li class="span3 threeColumn">
        <div class="thumbnail">
          <a href="#">
            <img src="http://placehold.it/252x175" alt="">
          </a>
          <div class="caption">
            <h5>Minecraft Thingy</h5>
            <p>By Chloe Varelidi</p>
            <a href="#" class="button button-orange">Remix</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
{% endblock %}
