{% extends "website/layout.html" %}
{% block head %}
{% endblock %}
{% block page_id %}home{% endblock %}
{% block body %}
  <div class="container divider">
    <div class="row">
      <div class="hero-unit span6">
        <hgroup class="large">
          <h2>Webmaking made easy</h2>
          <h1>Mozilla Thimble App</h1>
        </hgroup>
        <p>
        Mozilla Thimble App makes it ridiculously simple to create your own web pages. Write and edit HTML and CSS right in your browser. Instantly preview your work. Then host and share your finished pages with a single click. Easy, huh?
        </p>
        <p><a class="button-blue" href="{{ url('webpagemaker.editor.views.default_editor') }}">Get started</a></p>
      </div>
      <div class="pat span4">
        <div class="pat-hands"></div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Featured Projects</h2>
    
    <ul class="thumbnails">
      {{ project(
           blurb    = "Build your own Creature",
           author   = "London Zoological Society",
           url      = "projects/nesta/zoo",
           img      = "https://wiki.mozilla.org/images/7/7b/Animalbuilder.jpg",
         ) 
      }}

      {{ project(
           blurb    = "Make Your Own Rant Page",
           author   = "Hive NYC",
           url      = url('edit_dev_dropbox_project', 'soapbox'),
           img      = "https://wiki.mozilla.org/images/b/be/Soapthumb.png", 
         ) 
      }}

      {{ project(
           blurb    = "Level up your Web Skills",
           author   = "Mozilla",
           url      = url('webpagemaker.website.views.webarcade'),
           img      = "https://wiki.mozilla.org/images/e/e3/Webarcade.jpg",
         ) 
      }}
    </ul>
  </div> 
{% endblock %}
{% macro project(blurb, author, url, img) -%}
  <li class="span3 threeColumn">
    <div class="thumbnail">
      <a href="{{ url }}">
        <img src="{{ img }}" alt="{{ title }}">
      </a>
      <div class="caption">
        <p>{{ author }}</p>
        <h5 class="title"><a href="{{ url }}">{{ blurb }}</a></h5>
      </div>
    </div>
  </li>
{%- endmacro %}
