{% extends "website/layout.html" %}
{% block head %}
{% endblock %}
{% block page_id %}home{% endblock %}
{% block body %}
  <div class="container divider">
    <div class="row">
      <div class="hero-unit span6">
        <hgroup class="large">
          <h2>Webmaking made easy</h2>
          <h1>Mozilla Thimble App</h1>
        </hgroup>
        <p>
        Mozilla Thimble App makes it ridiculously simple to create your own web pages. Write and edit HTML and CSS right in your browser. Instantly preview your work. Then host and share your finished pages with a single click. Easy, huh?
        </p>
        <p><a class="button-blue" href="{{ url('webpagemaker.editor.views.default_editor') }}">Get started</a></p>
      </div>
      <div class="pat span4">
        <div class="pat-hands"></div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Featured Projects</h2>
    
    <ul class="thumbnails">
      {{ project(
           blurb        = "Concoct a crazy creature",
           title_phrase = "with the Awesome Animal Builder",
           url          = "projects/nesta/zoo",
           img          = "https://wiki.mozilla.org/images/7/7b/Animalbuilder.jpg",
         ) 
      }}

      {{ project(
           blurb        = "Level up your HTML skills",
           title_phrase = "at the Web Arcade",
           url          = url('webpagemaker.website.views.webarcade'),
           img          = "https://wiki.mozilla.org/images/e/e3/Webarcade.jpg",
         ) 
      }}

      {{ project(
           blurb        = "Shout it out",
           title_phrase = "with Make your own rant page",
           url          = url('edit_dev_dropbox_project', 'soapbox'),
           img          = "https://wiki.mozilla.org/images/b/be/Soapthumb.png", 
         ) 
      }}
    </ul>
  </div> 
{% endblock %}
{% macro project(blurb, title_phrase, url, img) -%}
  <li class="span3 threeColumn">
    <div class="thumbnail">
      <a href="{{ url }}">
        <img src="{{ img }}" alt="{{ title }}">
      </a>
      <div class="caption">
        <p>{{ blurb }}</p>
        <h5 class="title"><a href="{{ url }}">{{ title_phrase }}</a></h5>
      </div>
    </div>
  </li>
{%- endmacro %}
