{% extends "website/layout.html" %}
{% block head %}
{% endblock %}
{% block page_id %}home{% endblock %}
{% block body %}
  <div class="container divider">
    <div class="row">
      <div class="hero-unit span6">
        <hgroup class="large">
          <h2>What is</h2>
          <h1>Webpage Maker?</h1>
        </hgroup>
        <p>Learn HTML, webify video or level up on game development today. The Webpage Maker is a two pane editor that allows you to design, edit and publish webpages in real-time on the Web. The Web is your canvas. What are you going to do with it?</p>
        <p><a class="button-blue">Go to the editor</a></p>
      </div>
      <div class="pat span4">
        <div class="pat-hands"></div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Featured Projects</h2>
    
    <ul class="thumbnails">
      <li class="span3 threeColumn">
        <div class="thumbnail">
          <a href="#">
            <img src="http://placehold.it/252x175" alt="">
          </a>
          <div class="caption">
            <p>Make a meme</p>
            <h5 class="title">with Internet Famous</h5>
          </div>
        </div>
      </li>
      
      <li class="span3 threeColumn">
        <div class="thumbnail">
          <a href="#">
            <img src="http://placehold.it/252x175" alt="">
          </a>
          <div class="caption">
            <p>Hack a HTML theme</p>
            <h5 class="title">with How To Make A Tumblr Theme</h5>
          </div>
        </div>
      </li>
      
      <li class="span3 threeColumn">
        <div class="thumbnail">
          <a href="#">
            <img src="http://placehold.it/252x175" alt="">
          </a>
          <div class="caption">
            <p>Level up your HTML skills</p>
            <h5 class="title">at the Web Arcade</h5>
          </div>
        </div>
      </li>
    </ul>
  </div> 
{% endblock %}
