<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta charset="utf-8">
    <title>Webpage Maker</title>
    <link rel="stylesheet" href="/media/css/bootstrap.min.css">
    <style>
    body {
      /* 60px to make the container go all the way to the bottom
       * of the topbar */
      padding-top: 60px;
    }
    
    .row-fluid {
      margin-bottom: 1em;
    }
    
    .row-fluid > .span4 img {
      width: 360px;
    }
    </style>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar"></a>
          <a class="brand" href="/">Test Webpage Maker</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/editor">Editor</a></li>
              <li class="active"><a href="/projects">Projects</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="hero-unit">
        <h1>Projects</h1><br>
        <p>Webmaker projects are designed to help you make something amazing on the web fast.</p>

        <p>Using Mozilla Webmaker tools like Popcorn, Hackasaurus and Webpage Maker, you can: <p>
        <ul>
        <li>take apart and remix web sites</li>
        <li>make your own webpages, interactive videos and other cool stuff in minutes</li>
        <li>sharpen your webmaking skills. From HTML and CSS to fancy stuff</li>
        </ul>
        <p>We're preparing a set of these projects for the Mozilla Summer Code Party. The goal: teach the world the basics of coding and webmaking. Through bite-sized games, projects and recipes that are easy, social and fun. Partners and contributors will be able to share their own webmaker projects as well. </p>
        <p>Help kick the tires on the beta projects below. Are they easy to use? Helpful for learning? Fun?
Let us know by filling out this fast and easy questionnaire: </p>
  
        <p><a class="btn btn-primary btn-large"<a href="https://docs.google.com/spreadsheet/viewform?formkey=dERCYVFSQVhyWkxDUC1haFJpRjRrc0E6MA#gid=0">Tell us what you think&raquo;</a></p> 
      </div>
      
      <div class="row-fluid show-grid thumbnail">
        <div class="span4">
            <a href="http://toolness.github.com/friendlycode/?p=/mission-slurp%3Furl%3Dhttp%253A//jessicaklein.com/betatest/internetfamous.html">
              <img src="https://wiki.mozilla.org/images/7/70/Internetfamous.jpg" alt="">
            </a>
            <div class="caption">
              By Mozilla
            </div>
        </div>
        <div class="span8">
          <h3>Make Your Own Meme</h3>
          <p>Do you have what it takes to go viral and become internet famous? Prove it. This project let's you use your HTML and CSS swagger to create your own web page -- featuring a meme to conquer all internet memes. Let your inner serious cat or Ryan Gosling hey girl shine.</p>
          <p><span class="label">Webpage Maker</span> <span class="label">Intermediate Difficulty</span> <span class="label">HTML</span> <span class="label">CSS</span> <span class="label">Design Thinking</span></p>
          <p><a href="http://toolness.github.com/friendlycode/?p=/mission-slurp%3Furl%3Dhttp%253A//jessicaklein.com/betatest/internetfamous.html" class="btn btn-primary">Make Project</a>
        </div>
      </div>

      <div class="row-fluid show-grid thumbnail">
        <div class="span4">
            <a href="http://toolness.github.com/friendlycode/?p=/mission-slurp%3Furl%3Dhttp%253A//jessicaklein.com/betatest/webarcademap.html">
              <img src="https://wiki.mozilla.org/images/8/88/Arcademap.jpg" alt="">
            </a>
            <div class="caption">
              By Mozilla
            </div>
        </div>
        <div class="span8">
          <h3>Make Your Own Map of The Web Arcade</h3>
          <p>HTML is a funny looking language; it is written inside brackets like <code>&lt;this&gt;</code> and <code>&lt;/this&gt;</code> and sometimes uses <code>"quotes like this."</code> In this project you will begin your journey in the world of HTML by exploring the syntax behind it to activate and customize a broken Map of the Web Arcade.</p>
          <p><span class="label">Webpage Maker</span> <span class="label">Beginner Difficulty</span> <span class="label">HTML Syntax</span></p>
          <p><a href="http://toolness.github.com/friendlycode/?p=/mission-slurp%3Furl%3Dhttp%253A//jessicaklein.com/betatest/webarcademap.html" class="btn btn-primary">Make Project</a>
        </div>
      </div>

      <div class="row-fluid show-grid thumbnail">
        <div class="span4">
            <a href="http://toolness.github.com/friendlycode/?p=/mission-slurp%3Furl%3Dhttp%253A//dl.dropbox.com/u/5445372/site/web-structable.html">
              <img src="https://wiki.mozilla.org/images/5/59/Webstructables.jpg" alt="">
            </a>
            <div class="caption">
              By Mozilla
            </div>
        </div>
        <div class="span8">
          <h3>Webstructables: Make a Tutorial</h3>
          <p>Have you always wondered "why people don't get hand turkeys right?" or "why it is hard for some to sleep at night?" Well, the time has come for you to make your contribution to the world of the Open Web and create a fine webpage tutorial using your HTML & CSS and Popcorn wisdom.</p>
          <p><span class="label">Webpage Maker</span> <span class="label">Advanced Difficulty</span> <span class="label">HTML</span> <span class="label">CSS</span> <span class="label">Popcorn</span> <span class="label">Teaching Others</span></p>
          <p><a href="http://toolness.github.com/friendlycode/?p=/mission-slurp%3Furl%3Dhttp%253A//dl.dropbox.com/u/5445372/site/web-structable.html" class="btn btn-primary">Make Project</a>
        </div>
      </div>

      <div class="row-fluid show-grid thumbnail">
        <div class="span4">
            <a href="http://toolness.github.com/friendlycode/?p=/mission-slurp%3Furl%3Dhttp%253A//jessicaklein.com/betatest/elements.html%2523">
              <img src="https://wiki.mozilla.org/images/8/89/Stuck90s.png" alt="">
            </a>
            <div class="caption">
              By Mozilla
            </div>
        </div>
        <div class="span8">
          <h3>Stuck in the 90s</h3>
          <p>Everyone has an embarrassing moment. For the Web that moment was in the 90s. Back then websites were boxy and ugly&mdash;kind of like this page! Wrangle your HTML and CSS style powers to change the content, the colors and the layout so that this webpage doesn't feel like it's stuck in the 90's anymore&hellip;</p>
          <p><span class="label">Webpage Maker</span> <span class="label">Intermediate Difficulty</span> <span class="label">HTML</span> <span class="label">CSS</span> <span class="label">Design Thinking</span></p>
          <p><a href="http://toolness.github.com/friendlycode/?p=/mission-slurp%3Furl%3Dhttp%253A//jessicaklein.com/betatest/elements.html%2523" class="btn btn-primary">Make Project</a>
        </div>
      </div>

      <div class="row-fluid show-grid thumbnail">
        <div class="span4">
            <a href="https://wiki.mozilla.org/Webmakers/Projects/Popcorn-DIY">
              <img src="https://wiki.mozilla.org/images/3/34/Popdiy.png" alt="">
            </a>
            <div class="caption">
              By Mozilla
            </div>
        </div>
        <div class="span8">
          <h3>Hack a Commercial</h3>
          <p>Add your own voice to an old commercial by adding popups and commentary using the Mozilla Popcornmaker. In this DIY activity, you can change meanings, extend messages, and otherwise recontextualize the video using the ever popular "Pop Up Video" template.</p>
          <p><span class="label">Popcorn Maker</span> <span class="label">Intermediate Difficulty</span> <span class="label">Hacking</span> <span class="label">Design Thinking</span></p>
          <p><a href="https://wiki.mozilla.org/Webmakers/Projects/Popcorn-DIY" class="btn btn-primary">Make Project</a>
        </div>
      </div>

      <div class="row-fluid show-grid thumbnail">
        <div class="span4">
            <a href="https://wiki.mozilla.org/Webmakers/Projects/InanimateAlice-DIY">
              <img src="https://wiki.mozilla.org/images/5/5c/Iathumb.png" alt="">
            </a>
            <div class="caption">
              By Hive NYC
            </div>
        </div>
        <div class="span8">
          <h3>Inanimate Alice DIY</h3>
          <p>A user generated digital novel and Hackasaurus X-ray Goggles, what better tools to engage the future generation of webmakers? The mission is to teach the basics of coding through the lens of youth interest in storytelling. This challenge invites youth to create a narrative based on characters and a storyline they create, while learning how to remix the Web.</p>
          <p><span class="label">Hackasaurus</span> <span class="label">Beginner Difficulty</span> <span class="label">HTML</span> <span class="label">CSS</span> <span class="label">Writing</span></p>
          <p><a href="https://wiki.mozilla.org/Webmakers/Projects/InanimateAlice-DIY" class="btn btn-primary">Make Project</a>
        </div>
      </div>      
    </div> <!-- /container -->
  </body>
</html>
