{% extends "website/layout.html" %}
{% block head %}
{% endblock %}
{% block body %}
  <div class="container divider">
    <div class="row">
      <div class="hero-unit span6">
        <hgroup class="large">
          <h2>Webpage Maker</h2>
          <h1>Projects</h1>
        </hgroup>
        <p>Steamed, blue mountain ristretto java, trifecta cup eu at and mug shop. Cultivar, crema, medium shop variety iced to go arabica instant mazagran black. Crema at arabica, extraction bar affogato cappuccino brewed. Crema latte extra mocha to go, roast aftertaste percolator siphon so roast.</p>
        <a class="button"<a href="https://docs.google.com/spreadsheet/viewform?formkey=dERCYVFSQVhyWkxDUC1haFJpRjRrc0E6MA#gid=0">Submit a Project</a>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="span10 view-style">
        View as: 
        <ul>
          <li>
            <a id="js-list" class="list">List</a>
          </li>
          <li>
            <a id="js-thumbs" class="thumbs">Thumbnails</a>
          </li>
        </ul>
      </div>
    </div>

    <ul class="projects show-list">
      {{ project(
           href        = "http://toolness.github.com/friendlycode/?p=/mission-slurp%3Furl%3Dhttp%253A//jessicaklein.com/betatest/internetfamous.html",
           img         = "https://wiki.mozilla.org/images/7/70/Internetfamous.jpg",
           img_alt     = "",
           author      = "Mozilla",
           title       = "Make Your Own Meme",
           description = "Do you have what it takes to go viral and become internet famous? Prove it. This project let's you use your HTML and CSS swagger to create your own web page -- featuring a meme to conquer all internet memes. Let your inner serious cat or Ryan Gosling hey girl shine."
         ) 
	  }}
	  {{ project(
           href        = "http://toolness.github.com/friendlycode/?p=/mission-slurp%3Furl%3Dhttp%253A//jessicaklein.com/betatest/webarcademap.html",
           img         = "https://wiki.mozilla.org/images/8/88/Arcademap.jpg",
           img_alt     = "",
           author      = "Mozilla",
           title       = "Hack The Web Arcade",
           description = "HTML is a funny looking language; it is written inside brackets like <code>&lt;this&gt;</code> and <code>&lt;/this&gt;</code> and sometimes uses <code>\"quotes like this.\"</code> In this project you will begin your journey in the world of HTML by exploring the syntax behind it.Use the comments to navigate your way. Your goal: fix a broken map of the web arcade to unlock new missions and explore brave new webby worlds."
         ) 
      }}
	  {{ project(
           href        = "http://toolness.github.com/friendlycode/?p=/mission-slurp%3Furl%3Dhttp%253A//jessicaklein.com/betatest/elements.html%2523",
           img         = "https://wiki.mozilla.org/images/8/89/Stuck90s.png",
           img_alt     = "",
           author      = "Mozilla",
           title       = "Make ugly '90s webpages pretty",
           description = "Everyone has an embarrassing moment. For the web it was the '90s. Back then, websites were boxy and ugly -- kind of like this page! Wrangle your HTML and CSS style powers to change the content, colors and layout to drag these webpage out of the grungey '90s."
         ) 
      }}
	  {{ project(
           href        = "https://wiki.mozilla.org/Webmakers/Projects/Popcorn-DIY",
           img         = "https://wiki.mozilla.org/images/3/34/Popdiy.png",
           img_alt     = "",
           author      = "Mozilla",
           title       = "Remix your own TV commercial",
           description = "Add your own voice to a cheesy 1950s TV commercial! Add pop-ups and commentary, change meanings, and hack pop culture using Mozilla Popcorn."
         ) 
      }}
	  {{ project(
           href        = "https://wiki.mozilla.org/Webmakers/Projects/InanimateAlice-DIY",
           img         = "https://wiki.mozilla.org/images/5/5c/Iathumb.png",
           img_alt     = "",
           author      = "Hive NYC",
           title       = "Create your own \"Inanimate Alice\" episode",
           description = "This project uses the popular \"Inanimate Alice\" interactive novel and Mozilla Hackasaurus to create narrative mayhem. Youth can create their own narrative using characters and a storyline they create, learning how to remix the web along the way."
         ) 
      }}
 	  {{ project(
           href        = "http://toolness.github.com/friendlycode/?p=/mission-slurp%3Furl%3Dhttp%253A//dl.dropbox.com/u/5445372/site/web-structable.html",
           img         = "https://wiki.mozilla.org/images/5/59/Webstructables.jpg",
           img_alt     = "",
           author      = "Mozilla",
           title       = "Make your own \"webstructable\" how-to",
           description = "This project lets you create your own web page tutorial. Use your new-found HTML, CSS and Popcorn wisdom to create the world's greatest how-to. What do you want to make today?"
         ) 
      }}
      {{ project(
           href        = "http://toolness.github.com/friendlycode/?p=/p/151",
           img         = "https://wiki.mozilla.org/images/b/be/Soapthumb.png", 
           img_alt     = "",
           author      = "Hive NYC",
           title       = "Speak your mind",
           description = "<i>Got something to shout about?</i> A rant, cause, passion project or block party you want the world to know about? Shout it from the rooftops by making your own web page in minutes, using this handy remixable template. Then share it via email, Twitter, Facebook or URL. Easy!"
         )
      }}
    </ul>
  </div>
      
{% endblock %}
{% block scripts %}
<script src="/media/js/projects.js"></script>
{% endblock %}
{% macro project(href, img, img_alt, author, title, description) -%}
  <li class="project">
    <div class="thumb">
        <a href="{{ href }}">
          <img src="{{ img }}" alt="{{ img_alt }}">
        </a>
        <div class="caption">
          <p>By {{ author }}</p>
        </div>
    </div>
    <div class="info">
      <h3 class="title">{{ title }}</h3>
      <p class="description">{{ description|safe }}</p>
      <p><a href="{{ href }}" class="button-blue">Make Project</a>
    </div>
  </li>
{%- endmacro %}
