{% extends "website/layout.html" %}
{% block head %}
{% endblock %}
{% block page_id %}webarcade{% endblock %}
{% block body %}
  <div class="container divider">
    <div class="row arcade">
      <div class="hero-unit span7">
        <hgroup class="large">
          <h2>Welcome to the</h2>
          <h1>Web Arcade</h1>
        </hgroup>
        <p>
           Play classic arcade-style games that teach webmaking basics. The “Web Arcade” is a collection of 
           fun mini-games that sharpen your web design, HTML and CSS skills as you go. Create your own web 
           pages, swap images, close broken tags and dodge hurtling LOLcats to advance through each level and 
           prevail. 
        </p>
      </div>
    </div>
  </div>

  <div class="container">

    <ul class="projects show-thumbs">
      {{ project(
           title       = "Learn HTML fast by making your own web page",
           description = "Learn HTML basics using Mozilla's Thimble app to make your first web page. This starter project helps you play around with the most common HTML elements and tags using a simple side-by-side visual editor. It's a great way to gain some of the baseline skills you'll need for other Webmaker projects&mdash;or to start a project of your own! If you have no HTML experience, give this one a go first. You'll be surprised by how easy it is to get started.",
           author      = "Mozilla",
           url         = url('edit_project', 'wrangler'),
           img         = "/media/img/projects/wrangle.png",
         ) 
      }}
	    {{ project(
           title       = "Make a map of your world on the web",
           description = "Create your own 8-bit style “map” of your favorite web sites, images and places. Use HTML to remix and create your own classic video game-style map of your favorite stuff on the web. Add images, text, links and places, then share your completed map with friends so they can explore the world you've created.",
           author      = "Mozilla",
           url         = url('edit_project', 'map'),
           img         = "/media/img/projects/map.jpg",
         ) 
      }}
      {{ project(
           title       = "Play Bakery Bash",
           description = "Throw an awesome kitchen party on the web. In this web-based game, your mission is to help “Loaf Cat” throw a sweet party in her cozy bakery&mdash;fending off uninvited party-crashers, inviting your own guest celebrities from across the web, and (of course) adding some awesome music to get the party started! Use HTML to fix links and swap images to advance. It's simple but strangely addictive. Did we mention the dancing cats?",
           author      = "Mozilla",
           url         = url('edit_project', 'bakery'),
           img         = "/media/img/projects/bakery.png",
         ) 
      }}
	    {{ project(
           title       = "Make your own animated avatar",
           description = "Mix and match elements to create your own webmaker avatar. Choose from a mix of different googly eyes, mustaches, colors and styles to create your own unique webmaker character. It's like the cooler web version of “Mr. Potato Head”. Then fill in the blanks and add your own links to create a portfolio of projects you've created online. The result: your own shareable webmaker portfolio page. Use it to show off all the great stuff you've made.",
           author      = "Mozilla",
           url         = url('edit_project', 'avataromatic'),
           img         = "/media/img/projects/Avataromatic.png",
         ) 
      }}
	    {{ project(
           title       = "Make Your Own Meme",
           description = "Use the “Meme-Maker” to quickly create your own viral mash-up. This handy HTML template makes it easy to quickly create your own text and image mashup, then publish it for sharing via Facebook, Tumblr or any web page. Your 15 seconds of internet fame await!",
           author      = "Mozilla",
           url         = url('edit_project', 'meme'),
           img         = "/media/img/projects/meme.png",
         ) 
      }}
	    {{ project(
           title       = "Go back in time to fix ugly '90s web pages",
           description = "Sharpen your web design skills by revamping ugly web pages from the past. Websites in the 90s were boxy, used ugly color palettes and broke many of the design rules we take for granted today. Fire up the Internet Time Machine and learn design and CSS skills to drag these grungy pages out of the past.",
           author      = "Mozilla",
           url         = url('edit_project', 'stuck'),
           img         = "/media/img/projects/Stuck90s.png",
         ) 
      }}
 	    {{ project(
           title       = "Make your own web-based “how-to”",
           description = "Create your own custom “how-to” page. Make something amazing recently? Cool project? Model airplane? Epic peanut butter and jelly sandwich? Show others how to make it, too, by creating your own step-by-guide and publishing it to the web. This handy template makes it super simple to tweak the text size, change colors, add images and more.",
           author      = "Mozilla",
           url         = url('edit_project', 'webstructable'),
           img         = "/media/img/projects/Webstructables.jpg",
         ) 
      }}
    </ul>
  </div>
      
{% endblock %}
{% block scripts %}
<script src="/media/js/projects.js"></script>
{% endblock %}
{% macro project(title, description, author, url, img) -%}
  <li class="project">
    <div class="thumb">
        <a href="{{ url }}">
          <img src="{{ img }}" alt="{{ title }}">
        </a>
        <div class="caption">
          <p>By {{ author }}</p>
        </div>
    </div>
    <div class="info">
      <h3 class="title">{{ title }}</h3>
      <p class="description">{{ description|safe }}</p>
      <p><a href="{{ url }}" class="button-blue">Make Project</a>
    </div>
  </li>
{%- endmacro %}
