{% extends "website/layout.html" %}
{% block head %}
<style>
  #webarcade .divider {
    border-bottom: 4px dashed #4098D5;
  }
</style>
{% endblock %}
{% block page_id %}webarcade{% endblock %}
{% block body %}
  <div class="container divider">
    <div class="row arcade">
      <div class="hero-unit span7">
        <hgroup class="large">
          <h2>Welcome to the</h2>
          <h1>Web Arcade</h1>
        </hgroup>
        <p>
          Enter the Web Arcade to explore the world of the Open Web&mdash;a place made out of memes, planking
          videos and Minecraft empires! The Web Arcade offers a collection of mini games that help you level up
          your (HTML & CSS) skills and create your own webpages.
        </p>
      </div>
    </div>
  </div>

  <div class="container">

    <ul class="projects show-thumbs">
      {{ project(
           href        = "editor?p=/en-US/projects/dropbox/meme",
           img         = "https://wiki.mozilla.org/images/7/70/Internetfamous.jpg",
           img_alt     = "",
           author      = "Mozilla",
           title       = "Make Your Own Meme",
           description = "Do you have what it takes to go viral and become internet famous? Prove it. This project let's you use your HTML and CSS swagger to create your own web page -- featuring a meme to conquer all internet memes. Let your inner serious cat or Ryan Gosling hey girl shine.",
         ) 
      }}
	    {{ project(
           href        = "editor?p=/en-US/projects/dropbox/map",
           img         = "https://wiki.mozilla.org/images/8/88/Arcademap.jpg",
           img_alt     = "",
           author      = "Mozilla",
           title       = "Hack The Web Arcade",
           description = "HTML is a funny looking language; it is written inside brackets like <code>&lt;this&gt;</code> and <code>&lt;/this&gt;</code> and sometimes uses <code>\"quotes like this.\"</code> In this project you will begin your journey in the world of HTML by exploring the syntax behind it.Use the comments to navigate your way. Your goal: fix a broken map of the web arcade to unlock new missions and explore brave new webby worlds.",
         ) 
      }}
	    {{ project(
           href        = "editor?p=/en-US/projects/dropbox/stuck",
           img         = "https://wiki.mozilla.org/images/8/89/Stuck90s.png",
           img_alt     = "",
           author      = "Mozilla",
           title       = "Make ugly '90s webpages pretty",
           description = "Everyone has an embarrassing moment. For the web it was the '90s. Back then, websites were boxy and ugly -- kind of like this page! Wrangle your HTML and CSS style powers to change the content, colors and layout to drag these webpage out of the grungey '90s.",
         ) 
      }}
 	    {{ project(
           href        = "editor?p=/en-US/projects/dropbox/webstructable",
           img         = "https://wiki.mozilla.org/images/5/59/Webstructables.jpg",
           img_alt     = "",
           author      = "Mozilla",
           title       = "Make your own \"webstructable\" how-to",
           description = "This project lets you create your own web page tutorial. Use your new-found HTML, CSS and Popcorn wisdom to create the world's greatest how-to. What do you want to make today?",
         ) 
      }}
    </ul>
  </div>
      
{% endblock %}
{% block scripts %}
<script src="/media/js/projects.js"></script>
{% endblock %}
{% macro project(href, img, img_alt, author, title, description) -%}
  <li class="project">
    <div class="thumb">
        <a href="{{ href }}">
          <img src="{{ img }}" alt="{{ img_alt }}">
        </a>
        <div class="caption">
          <p>By {{ author }}</p>
        </div>
    </div>
    <div class="info">
      <h3 class="title">{{ title }}</h3>
      <p class="description">{{ description|safe }}</p>
      <p><a href="{{ href }}" class="button-blue">Make Project</a>
    </div>
  </li>
{%- endmacro %}
