<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}"
      class="deployment-type-{{ DEPLOYMENT_TYPE }}">
  <head>
    <meta charset="utf-8">
    <base target="_blank">

    <title>Mozilla Thimble</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}friendlycode/css/friendlycode.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/editor.css">    
    <link rel="stylesheet"
     href="{{ MEDIA_URL }}/webmaker-nav/webmaker-nav/css/webmaker-nav.css">
    <link rel="stylesheet"
     href="{{ MEDIA_URL }}/webmaker-nav/webmaker-nav/css/badge-ui.css">
  </head>
  <body>
     <a href="http://www.mozilla.org/" id="tabzilla">mozilla</a>
     <div id="webmaker-nav"></div>

    <header id="thimble-header">
      <div class="logo">
        <a href="/">
          <img src="{{ MEDIA_URL }}img/thimble-logo.png" alt="Mozilla Thimble">
        </a>
      </div>
    </header>

    <div id="thimble-friendlycode-holder" class="friendlycode-loading"></div>

    <script>
    if (!location.search.match(/notypekit=1/))
      document.write('<script src="//use.typekit.com/qjh6hdg.js"></' +
                     'script>');
    </script>
    <script src="https://login.persona.org/include.js"></script>
    <script src="{{ MEDIA_URL }}friendlycode/js/require-config.js"></script>
    <script>
    require.paths.thimble = '{{ MEDIA_URL }}js/thimble';
    require.paths.clopenbadger = '{{ MEDIA_URL }}clopenbadger';
    if (!require.packages)
      require.packages = [];
    require.packages.push({
      name: 'webmaker-nav',
      location: '{{ MEDIA_URL }}/webmaker-nav/webmaker-nav'
    });
    </script>
    <script src="{{ MEDIA_URL }}friendlycode/js/require.min.js"></script>
    <script>
    "use strict";

    define("fake-thimble-badges", [
      "clopenbadger/test/fake-clopenbadger-server"
    ], function(FakeClopenbadgerServer) {
      var url = "http://fake-clopenbadger";
      FakeClopenbadgerServer.setup({
        urlPrefix: url,
        availableBadges: {
          "FIRST_LOGIN": {
            "name": "First Login",
            "description": "Like a champion, you logged in...",
            "criteria": "Can log into a site that uses Persona for auth.",
            "image": "https://wiki.mozilla.org/images/b/bb/Merit-badge.png",
            "behaviors": [{"name": "LOGGED_IN", "score": 1}],
            "prerequisites": []
          },
          "HYPERLINKER": {
            "name": "Hyperlinker",
            "description": "You made links.",
            "criteria": "Can make anchor tags with valid href attributes.",
            "image": "https://wiki.mozilla.org/images/b/bb/Merit-badge.png",
            "behavior": "HYPERLINK",
            "behaviors": [{"name": "HYPERLINK", "score": 1}],
            "prerequisites": []
          }
        }
      });
      return {url: url};
    });
    
    define("main", function(require) {
      var $ = require("jquery"),
          FriendlycodeEditor = require('friendlycode'),
          HTMLBadges = require("thimble/html-badges"),
          BadgeUI = require("webmaker-nav/badge-ui"),
          BrowserIDAjax = require("thimble/browserid-ajax"),
          Clopenbadger = require("clopenbadger/clopenbadger"),
          WebmakerNav = require("webmaker-nav"),
          webmakerNav = new WebmakerNav({
            container: $("#webmaker-nav")[0],
            loginBtnCallback: function() { navigator.id.request(); },
            logoutBtnCallback: function() { navigator.id.logout(); }
          }),
          auth = BrowserIDAjax({
            email: "{{ user.email }}",
            csrfToken: "{{ csrf_token }}",
            clopenbadgerToken: "{{ clopenbadger_token }}",
            verifyURL: "{{ url('browserid_ajax_verify') }}",
            logoutURL: "{{ url('browserid_ajax_logout') }}"
          }),
          badgeUI = new BadgeUI(webmakerNav),
          editor = FriendlycodeEditor({
            publishURL: "{{ PUBLISH_URL }}",
            pageToLoad: "{{ remix_url }}",
            remixURLTemplate: "{{ REMIX_URL_TEMPLATE }}",
            container: $("#thimble-friendlycode-holder")
          }),
          badger = null,
          FakeThimbleBadges = require("fake-thimble-badges"),
          credit = function(behavior) { badger && badger.credit(behavior); };

      require("thimble/typekit-ready!");

      auth.on("login", function() {
        webmakerNav.views.login({username: auth.email});
        badger = Clopenbadger({
          server: FakeThimbleBadges.url,
          token: auth.clopenbadgerToken,
          email: auth.email
        });
        badgeUI.setBadger(badger);
        credit("LOGGED_IN");
      }).on("logout", function() {
        badger = null;
        webmakerNav.views.logout();
        badgeUI.setBadger(badger);
      });
      auth.trigger(auth.email ? 'login' : 'logout', auth);

      editor.ready.done(function() {
        HTMLBadges.attachProbes(editor.codeMirror, credit);
      });
      
      return {
        auth: auth,
        badgeUI: badgeUI,
        editor: editor
      };
    });

    require(['main'], function () {});
    </script>

    <!-- this COULD hold up the page, so do this absolutely last -->
    <link rel="stylesheet" href="//www.mozilla.org/tabzilla/media/css/tabzilla.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/editor-tabzilla-overrides.css">
    <script>
    // tabzilla.js will inject jQuery itself if it doesn't see it at
    // load time, which is a problem for us because it creates a race
    // condition for jQuery loading between requirejs and tabzilla. So
    // we'll wait until requirejs has loaded jquery before loading
    // tabzilla.
    require(["jquery"], function() {
      var tabzillaJS = "//www.mozilla.org/tabzilla/media/js/tabzilla.js";
      var script = document.createElement('script');
      script.setAttribute('src', tabzillaJS);
      document.body.appendChild(script);
    });
    </script>
  </body>
</html>
